* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.header-main {
    font-family: sans-serif;
    display: flex;
    padding: 20px;
    height: 100px;
    justify-content: flex-end;
    background-color: #005db4;
    margin-bottom: 10px;
}
.h-items {
    text-decoration: none;
    color: #effff9;
}
.page-container {
    display: flex;
    background-color: #004b96;
    width: 300px;
}
.first-row {
    display: flex;
    height: 600px;
    justify-content: flex-start;
}
.side-container {
    display: flex;
    height: auto;
    width: 400px;
}
.sidebar-ul {
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}
.side-items {
    display: flex;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 40px 50px;
    color: #effff9;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 40px;
}
.tble {
    display: flex;
}
.btn-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.button-main {
    color: #fff;
    border-radius: 50px;
    padding: 20x;
    padding: 9px 25px;
    background-color: #ffc220;
    border-color: #0d6efd;
    text-decoration: none;
}
.button-main:hover {
    color: #fff;
    background-color: #d8a51b;
    border-color: #0a58ca;
}
.product {
    display: flex;
    padding: 20px;
}
.product-form {
    font-family: sans-serif;
}
.form-input {
    padding: 12px 20px;
    margin: 8px 0;
    width: 500px;
    border-radius: 20px;
}
.form-btn {
    color: #fffff5;
    padding: 12px;
    margin-top: 20px;
    background-color: #0068b5;
    border-radius: 20px;
    border: none;
}
.form-btn:hover {
    cursor: pointer;
}
